@import "tailwindcss";
@plugin "daisyui";

html {
  scroll-behavior: smooth;
}

#services{
  scroll-margin-top: 100px;
}

#projects{
  scroll-margin-top: 60px;
}

#contact{
  scroll-margin-top: 60px;
}



